<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--相当于实现以前的接口-->
<mapper namespace="com.qf.mapper.IUserMapper">
    <insert id="addUser">
        insert into user(username,password,nickname) values (#{user.username},#{user.password},#{user.nickname});
    </insert>

    <select id="queryByNamePwd" resultType="Integer">
        select count(*) from user where username = #{admin.username} and password = #{admin.password};
    </select>
</mapper>